@import "default";
@import "colors";
@import "layers";

.center {
  width: 100vw;
  height: 100vh;

  background: shade($primary, 0.2);

  @include display(flex);
  @include position(fixed);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  top: 0;
  left: 0;
}

.login-button {
  @include position(absolute);
  z-index: $top;
}
