@import 'default';
@import 'colors';
@import 'layers';

.center {
  width: 100vw;
  height: 100vh;
  z-index: $middle;
  background: shade($primary, 0.6);

  @include position(fixed);

  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.login-button{
  z-index: $top;
}
